.gradle/
.idea/
bin/
build/
gradle/
.bowerrc
bower.json
build.gradle
gradlew
gradlew.bat
Gruntfile.json
HELP.md
package-lock.json
package.json
README
README.md
settings.gradle
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings/
.sts4-cache/
.vscode/
*.class
.svn/
main/
*.p12
*.mp4