@charset "utf-8";

/*-------------------------------*/
#container-wrap {padding-top:0}
#container {position:relative;display:block;padding-bottom:0;max-width:1400px;margin:0 auto;background:#fff}
#container:before {content:"";display:block;position:absolute;width:2000px;height:100%;left:50%;top:0;margin:0 0 0 -1000px;background:#fff;z-index:-1}
#container:after {content:"";display:block;clear:both}


/* 컨텐츠 */
#contents-wrap #contents {max-width:1400px;margin:0 auto;word-break:keep-all;word-wrap:break-word;color:#555;letter-spacing:-0.05em;font-size:17px;line-height:1.706;padding:160px 0 80px}
#contents-wrap #contents input[type="text"],
#contents-wrap #contents input[type="submit"],
#contents-wrap #contents input[type="button"],
#contents-wrap #contents select,
#contents-wrap #contents button {font-size:17px;letter-spacing:-0.05em}
.cont-top {display:block;width:100%;position:relative;padding:0;margin-bottom:24px;display:none}
.cont-top .cont-tit {line-height:1.2em}
.cont-top .cont-tit h2 {display:block;font-size:40px;line-height:1.2;margin:0;color:#000;padding:84px 0 0;text-align:center;letter-spacing:-.05em}
@media all and (max-width:999px) {
    .cont-top .cont-tit h2 {font-size:36px;padding:40px 0 0}
}
@media all and (max-width:600px) {
    .cont-top .cont-tit h2 {font-size:26px;padding:20px 0 0}
}

/* 모바일 전용 location */
.cont-top .cont-location {display:none}
.body-sub #contents-wrap {min-height:600px;padding-bottom:0;word-break:keep-all;word-wrap:break-word}
@media only screen and (max-width:1400px){
    .body-sub #contents-wrap {margin:0 20px}
}
@media only screen and  (max-width:999px) {
    #gnavi-wr .gnb-right .gbt-home, .gbt-amenu {display:none}
    #contents-wrap #contents {font-size:17px;padding:110px 0 40px;}
    #contents-wrap #contents input[type="text"],
    #contents-wrap #contents input[type="submit"],
    #contents-wrap #contents input[type="button"],
    #contents-wrap #contents select,
    #contents-wrap #contents button {font-size:17px}
}
@media all and (max-width:799px) {
    #contents-wrap #contents {font-size:16px;line-height:1.5;padding:120px 0 40px;}
    #contents-wrap #contents input[type="text"],
    #contents-wrap #contents input[type="submit"],
    #contents-wrap #contents input[type="button"],
    #contents-wrap #contents select,
    #contents-wrap #contents button {font-size:16px}
}
@media all and (max-width:600px) {
    #contents-wrap #contents {font-size:15px;line-height:1.46;padding:120px 0 40px;}
    #contents-wrap #contents input[type="text"],
    #contents-wrap #contents input[type="submit"],
    #contents-wrap #contents input[type="button"],
    #contents-wrap #contents select,
    #contents-wrap #contents button {font-size:15px}
}
@media all and (max-width:499px) {
    #contents-wrap #contents {font-size:14px}
    #contents-wrap #contents input[type="text"],
    #contents-wrap #contents input[type="submit"],
    #contents-wrap #contents input[type="button"],
    #contents-wrap #contents select,
    #contents-wrap #contents button {font-size:14px}
}



/*FROM SITE CODE : kr
*/
