@charset "utf-8";
/*@import url(font/font.css);*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select,textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding:0;
	margin:0;
	vertical-align:top;
}
body,
div,
dl,dt,dd,
ul,ol,li,
h1,h2,h3,h4,h5,h6,
form,p,a,
button,
fieldset,
blockquote { margin:0; padding:0; border:0; outline:0; font-size:100%; *line-height:normal; }
body { line-height:1.5; }
a { margin:0; padding:0; font-size:100%; color: #666; }
table { border-collapse:collapse; border-spacing:0; }
ul, ol { list-style:none; }
input, textarea { vertical-align:middle; }
input[type=text],
input[type=password],
input[type=number] { padding:5px; border:1px solid #ebebeb; background:#fff; color:#696969; -webkit-appearance:none; border-radius:0; box-sizing:border-box; }
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder { color:#696969; }
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder { color:#696969; }
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder { color:#696969; } /* firefox 19+ */
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder { color:#696969; } /* ie */
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder { color:#696969; }

input[type=checkbox],
input[type=radio] { vertical-align:middle; }
input[type=submit],
input[type=button] { -webkit-appearance:none; border-radius:0; cursor:pointer; }
button { border:0; cursor:pointer; width:auto; overflow:visible; }
textarea { resize:none; border:1px solid #ebebeb; }
address, em { font-style:normal; }
th, td { padding:0; vertical-align:middle; font-weight:normal; }
a, button,
input[type=button],
input[type=submit],
input[type=reset] { text-decoration:none; *line-height:normal; }

legend,
caption { display:none; }
iframe,
object,
video,
embed { position:relative; max-width:100%; }
*+ html body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,a,button,form,fieldset,p,blockquote { vertical-align:top; }
@media screen and (-webkit-min-device-pixel-ratio:0){
	input[type=radio] { vertical-align: top; }
	label.radio { line-height:1; }
}
@-moz-document url-prefix() {
	input[type=radio] { vertical-align:top; }
	label.radio { line-height:1; }
}

/* inline */
img { display:inline-block; border:none; vertical-align:baseline; max-width:100%;}
cite, code, dfn, del, em, ins, label, q, span, strong { display:inline-block; *line-height:normal; }
label { *vertical-align:middle; }
cite, em, dfn { font-style:normal; }
sub { vertical-align:bottom; }
sup { vertical-align:top;}
hr { display:none; }

/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; padding:0; margin:0; }


/* site-map css */
span.barTop {top: 7px; position: absolute; right: 0; width: 100%; height: 2px; background: #FFFFFF; -webkit-transition: all .3s ease-in-out;}
span.barMid {top: 14px; position: absolute; right: 0; width: 100%; height: 2px; background: #FFFFFF; -webkit-transition: all .3s ease-in-out;}
span.barBot {top: 21px; position: absolute; right: 0; width: 60%; height: 2px; background: #FFFFFF; -webkit-transition: all .3s ease-in-out;}


a.sticker-border {border: 1px solid #000000;}
a.sticker-border > span {color: #000000;}
span.sticker {background: #000000 !important;}
.btn_all_menu:hover span.barTop {width: 50%;}
.btn_all_menu:hover span.barMid {width: 75%;}
.btn_all_menu:hover span.barBot {width: 100%;}
.btn_all_menu span {background-color: #FFFFFF;}
.btn_all_menu.active span {background-color: #FFFFFF;width: 100%;}
.btn_all_menu.active:hover span {width: 100%;}
.btn_all_menu.active span.barTop{transform:rotate(45deg);-webkit-transform:rotate(45deg);top: 14px;background: #000000;}
.btn_all_menu.active span.barMid{width: 0;}
.btn_all_menu.active span.barBot{transform:rotate(-45deg);-webkit-transform:rotate(-45deg);top: 14px;}
.btn_all_menu.active span.sticker{background-color: #FFFFFF;}
.allMenuWrap_dim {display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index:99999;/* -webkit-backdrop-filter: blur(10px);backdrop-filter: blur(10px); */
	background-color: rgba(0,0,0,0.7);
}
.allMenuWrap  {display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;padding: 108px 0 50px;z-index:2;box-sizing:border-box;background-color: #fff;}
.allMenuWrap .allMenuWrap_inner {height: 100%;overflow-y:auto;}
.allMenuWrap .allMenuWrap_inner  .allMenu_inner {display: table;width: 1800px;padding-left: 100px;margin: 0 auto;height: 100%;box-sizing:border-box;}
.allMenuWrap .allMenu {display: table-cell;font-size: 0;vertical-align: middle;text-align: center;}
.allMenuWrap .allMenu > li {width: 16.666666%;display: inline-block;vertical-align: top;text-align: left;}
.allMenuWrap .allMenu > li > em {display: block;font-size: 14px;font-weight: bold;line-height: 19px;color: #6fba2c;margin-bottom: 14px;}
.allMenuWrap .allMenu > li > a, #header .allMenuWrap .allMenu > li > span {display: block;font-size: 24px;font-weight: 600;line-height: 32px;color: #000000;}
.allMenuWrap .allMenu > li > span {display: none;}
.allMenuWrap .allMenu li ul {display: block;padding-top: 36px;}
.allMenuWrap .allMenu li li  {display: block;text-align: left;margin-bottom: 15px;}
.allMenuWrap .allMenu li li:last-child {margin-bottom: 0;}
.allMenuWrap .allMenu li li a {position: relative;padding-left: 10px;display: inline-block;font-size: 14px;font-weight: 600;line-height: 30px;color: #000000;}
.allMenuWrap .allMenu li li a:after {content:'-';position: absolute;left: 0;top: 0;}
.navi-text a.sticker{color: #000000;}

#header .headerLang {z-index: 9;position: absolute;right: 132px;top: 50%;transform: translateY(-50%);}
#header.bgbg .headerLang > p {color: #999;position: relative;font-size: 14px;line-height: 20px;padding-right: 10px;letter-spacing: 2.8px;font-weight: bold;}
#header.bgbg .headerLang > p:after {}

/* 다국어 css */
.headerLang > p {position: relative;font-size: 14px;line-height: 20px;padding-right: 10px;color: #fff;letter-spacing: 2.8px;font-weight: bold;}
.headerLang > p:after {transition:all .2s ease-in-out;content:'';position: absolute;right: 0;top: 50%;margin-top: -2px;width: 5px;height: 4px;background-image: url(/images/icon/lang_arrow.png);-webkit-background-size: cover;
	background-size: cover;}
.headerLang:hover > p:after {transform:rotate(180deg)}
.headerLang > ul {height: 0;overflow: hidden;transition:all .2s ease-in-out;}
.headerLang > ul li a {font-weight: 400;display: block;font-size: 13px;line-height: 18px;color: #fff;letter-spacing: 2.8px;}
.headerLang:hover > ul {height: 54px;margin-top: 4px;}
.sticker-font > p {color: #000000;}
.sticker-font > a {color: #000000;}

.btn_contact {position: absolute;display: table;top: 50%;/*right: 1%;*/width: 83px;height: 33px;border-radius: 8px;border: solid 1px #fff;text-align: center;box-sizing:border-box; transform: translateY(-50%);-webkit-transform: translateY(-50%); transition: background 0.3s ease-in-out, border 0.3s ease-in-out;-webkit-transition: background 0.3s ease-in-out, border 0.3s ease-in-out; z-index:9999999;}
.btn_contact:hover {background-color: #6f7689 !important;border-color: #f3f3f3 !important;}
.btn_contact span {display: table-cell;font-size: 13px;line-height: 20px;font-weight: bold;color: #fff;vertical-align: middle; transition: color 0.3s ease-in-out;-webkit-transition: color 0.3s ease-in-out;}
.btn_contact:hover span {color: #000000 !important;}


@media screen and (max-width: 1100px){
	#header .btn_contact {right: 150px;}
	#header .btn_contact:hover {background-color: transparent !important;border-color: #fff !important;}
}

@media screen and (max-width: 767px){
	#header .btn_contact {display: none;}
}

.header-submenus {display: none;transition: 1s ease-in-out;height: 200px;}
a.current {display: block;}
div.current{display: block;}
* {font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', Dotum, "돋움",Gulim, "굴림", Verdana, Tahoma, AppleGothic, sans-serif;}

#navigation li a {font-weight: bold;}
div.sub_contents{ max-width: 1120px;position: relative;margin: 0 auto;height: 500px; }
div.header-menu{ position: absolute;background-color: white;top: 0;left: 0;width: 100%;height: 0px;transition: margin 0.2s ease-in-out; }
div.sub_contents > ul > li > a > span{font-weight: bold;}
#navigation li ul.header-title1 > li > a {display: none;}
#navigation li ul.header-title-sub li {display: list-item;margin: 0;padding: 0;}
#navigation li ul.header-title-sub li a {color: #000000;display: inline-block;vertical-align: top;white-space: nowrap;width: 100%;font-size: 12px;position: relative;text-align: left;}
ul.header-title-sub {display: none;position: absolute;width: 100%;left: 0;margin-top: 0;box-sizing: border-box;transition: margin 0.2s ease-in-out;padding: 0 20%;}