@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2020-11-25
******************************************************** */

/* ****************** 공통레이아웃 ********************** */
@media all and (max-width:1620px){	/* max-width : (area-box width) + 20px */
	.area-box{padding:0 30px;}
}
@media all and (max-width:1408px){
	.area-big{padding:0 30px}
}
@media all and (max-width:1220px){
	.area{padding:0 30px;}
}
@media all and (max-width:1024px){	
	.area-big,
	.area-box,
	.area{padding:0 15px}
}

/* ****************** HEADER ********************** */
@media all and ( max-width: 1730px ){	
	/* -------- Header :: Layout -------- */
	#headerInner{padding:0 65px}
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{right:65px}
	/* -------- Header :: GNB(PC) -------- */
	#gnb > ul > li.gnb3 > a,
	#gnb > ul > li > a{padding:0 35px;}
}
@media all and ( max-width: 1366px ){
	/* -------- Header :: Layout -------- */
	#headerInner{padding:0 30px}
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{right:30px}
	.header-lang .lang-list li{padding:0 10px}
	.header-lang .lang-list li:first-child:after{right:-2px}
	.sitemap-line-btn{margin-left:15px}
	/* -------- Header :: GNB(PC) -------- */
	#gnb > ul > li > a{font-size:17px; padding:0 33px !important}
	#gnb.total-menu > ul > li .gnb-2dep ul{padding:20px 0 0}
	#gnb.total-menu > ul > li .gnb-2dep ul li a{font-size:14px}
	#gnb.open #gnbBg{height:300px}
}
@media all and ( max-width: 1220px ){
	#header,#headerInnerWrap{height:80px;}
	/*.fullpage-wrapper #header{position:relative;}*/
	#headerInnerWrap{position:fixed; z-index:99;}
	#headerInner{padding:0 15px;}
	#header .logo{padding:21px 0;}	/* padding값 적절히 바꿔주세요 */
	#header.top-fixed #headerInnerWrap{background-color:#fff; border-bottom:1px solid #eee;}
	
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{right:60px;}
	/* Header :: 사이트맵 버튼 */
	.sitemap-line-btn, .sitemap-custom-btn{display:none;}

	/* -------- Header :: GNB(Pc) -------- */
	#gnb{display:none;}
	.gnb-overlay-bg{display:none}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}	
	#gnbM{ 
		display:block; 
		position:fixed; 
		top:0px; 
		right:-82%;
		width:80%; 
		height:100%;  
		max-width:320px; 
		background-color:#fff; 
		z-index:9999; 
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); 
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);  
		visibility:hidden;
	}
	#gnbM.open{
		right:0px; 
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:100%; box-sizing:border-box; padding:80px 30px 0; overflow-y:auto;}
	.header-util-menu-box + .gnb-navigation-wrapper{padding-top:0}
	
	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li{}
	#navigation > li:first-child > a{padding-top:0}
	#navigation > li > a {position:relative; display:block; padding:15px 0; color:#484848; font-size:20px; font-weight:700; letter-spacing:0}
	#navigation > li.active > a{color:#0072bc;}
	/* GNB Mobile ::  메뉴영역 :: 2차 */
	#navigation > li .gnb-2dep{display:none; padding:12px 0 12px 22px; background-color:#efefef; border-top:3px solid #0072bc}
	#navigation > li .gnb-2dep > li{height:auto !important;}
	#navigation > li .gnb-2dep > li > a{position:relative; display:block; color:#484848; font-size:15px; padding:10px 0 10px 10px;}
	#navigation > li .gnb-2dep > li > a:before{position:absolute; content:"-"; left:0; top:9px}
	/*#navigation > li .gnb-2dep > li.on > a{}*/
	/* GNB Mobile :: 메뉴영역 ::  3차 */
	#navigation > li .gnb-2dep > li > .gnb-3dep{display:none; padding:10px; background-color:#aaa; margin:0 10px}
	#navigation > li .gnb-2dep > li > .gnb-3dep > li > a{display:block; padding:8px 0; font-size:13px; color:#fff;}
	#navigation > li .gnb-2dep > li > .gnb-3dep > li > a:before{display:inline-block; content:"-"; margin-right:5px;}
	
	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn{
		display:block; position:fixed; top:24px;  right:15px; z-index:10000; 
		height:30px;
		-webkit-transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
		transition:all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); 
	}
	.nav-open-btn .line{
		display:block; width:28px; height:2px; background-color:#fff; border-radius:5px; margin: 7px auto;
		-webkit-transition: all 0.3s ease-in-out;
	     transition: all 0.3s ease-in-out;
	}
	.nav-open-btn.active .line{background-color:#333;}
	.nav-open-btn.active .line:nth-child(2), .nav-open-btn.active .line:nth-child(4){opacity: 0;}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(7px) rotate(45deg);
		  transform: translateY(7px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-11px) rotate(-45deg);
		  transform: translateY(-11px) rotate(-45deg);
	}
	
	#header.top-fixed .nav-open-btn .line{background-color:#333}
}
@media all and ( max-width: 800px ){	
	/* -------- Header :: UTIL BOX -------- */
	.header-lang{top:10px}
	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	#gnbM{max-width:280px}
}
@media all and ( max-width: 480px ){
	#header,#headerInnerWrap{height:60px;}
	#header .logo{padding:15px 0;}	/* padding값 적절히 바꿔주세요 */
	#header .logo img{height:30px;}

	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{right:40px}
	/* Header :: 사이트맵, 네비게이션 버튼 */
	.nav-open-btn{top:15px; margin-top:0;}
	.nav-open-btn .line{width:20px; margin:5px auto}
	.nav-open-btn.active .line:nth-child(1){
		 -webkit-transform: translateY(6px) rotate(45deg);
		  transform: translateY(6px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		 -webkit-transform: translateY(-8px) rotate(-45deg);
		  transform: translateY(-8px) rotate(-45deg);
	}
	/* Header :: GNB(Mobile) */
	.gnb-navigation-wrapper{padding-top:60px} /* padding-top : Header 높이값 */
	#navigation > li > a{font-size:15px; padding:13px 0}
	#navigation > li .gnb-2dep > li > a{font-size:13px;}
}

/* ****************** FOOTER ********************** */
@media all and (max-width:1024px){	
	/* -------- FOOTER :: 레이아웃 -------- */
	.footer-right-con{position:relative; float:none; width:100%; text-align:center; padding-bottom:60px}
	.footer-left-con{float:none; width:100%; text-align:center; margin-top:30px}
	/* Footer :: 정보 */
	.footer-address{margin-bottom:30px}
	/* Footer :: 푸터메뉴 */
	.foot-menu{margin-top:0}
	/* Footer :: 패밀리사이트 */
	.footer-drop-menu{position:absolute; bottom:0; left:50%; transform:translateX(-50%); z-index:9}
}
@media all and (max-width:800px){	
	/* Footer :: TOP버튼 */
	.to-top-btn{width:50px; height:50px}
	.to-top-btn .top-inner{padding-top:10px}
	.to-top-btn i{font-size:17px}
	.to-top-btn em{font-size:11px; margin-top:2px}
	/* -------- FOOTER :: 레이아웃 -------- */
	#footer{padding:30px 0}
	.footer-right-con{padding-bottom:50px}
	.footer-left-con{margin-top:20px}
	/* Footer :: 푸터메뉴 */
	.foot-menu li{padding-left:15px}
	.foot-menu li a{font-size:12px}
	/* Footer :: 패밀리사이트 */
	.family-site-box{display:inline-block; float:none; vertical-align:bottom; width:130px}
	.family-site-box .family-site-open-btn{height:40px; line-height:40px}
	.family-site-box .family-site-open-btn:after{font-size:19px}
	/* Footer :: 정보 */
	.footer-address{margin-bottom:15px}
	.footer-address p{margin:0 5px}
	.footer-address .footer-address-txt{font-size:12px}
	/* Footer :: Copyright */
	.footer-copyright{font-size:12px}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:1220px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual .visual-txt-con{padding:0}
	/*  SUB LAYOUT :: 서브메뉴(스타일2,3,4) */
	#topMenu02 .area{padding:0;}
	#topMenu02 .area{margin:0 -1px}
	/*  SUB LAYOUT :: 서브메뉴(스타일2) */
	#topMenu02 .side-menu-inner ul{display:table; width:100%}
	#topMenu02 .side-menu-inner ul:after{display:none;}
	#topMenu02 .side-menu-inner ul li{display:table-cell; vertical-align:middle;}
	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:70px 15px 100px}
	#content.wide{padding:70px 0 100px}
}

@media all and (max-width:800px){
	/*  SUB LAYOUT :: 비주얼 */
	#visual{height:300px;}
	#visual .visual-tit{font-size:40px; }
	#visual .visual-sub-txt{font-size:13px}
	/*  SUB LAYOUT ::  서브메뉴(스타일1,2,3) */
	#topMenu02{display:none}

	/*  SUB LAYOUT :: 서브메뉴 모바일 (스타일2) */
	#topMenuM02{display:block; position:relative; height:45px; margin-top:-45px; z-index:9}
	#topMenuM02 .side-menu-inner{height:45px; background-color:rgba(0,0,0,0.7)}
	#topMenuM02 .location-to-home-btn{position:absolute; width:45px; height:45px; left:0px; top:0px; text-align:center; }
	#topMenuM02 .location-to-home-btn i{color:#0072bc; font-size:20px; line-height:45px;}
	#topMenuM02 .menu-location{position:relative;}
	#topMenuM02 .location-to-home-btn + .menu-location{margin-left:45px}
	#topMenuM02 .menu-location > .cur-location{position:relative; display:block; width:100%; text-align:left; height:45px; padding:0 30px 0 15px; border-left:1px solid rgba(255,255,255,0.4);}
	#topMenuM02 .menu-location > .cur-location span{display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; line-height:45px; color:#fff; font-weight:400; font-size:15px;}
	#topMenuM02 .menu-location > .cur-location .arrow{position:absolute; top:50%; right:10px; width:20px; height:20px;margin-top:-10px; font-size:20px; color:#fff}
	#topMenuM02 .menu-location.open > .cur-location .arrow{transform:rotate(-180deg); margin-top:-10px;}
	#topMenuM02 .menu-location .location-menu-con{display:none; position:absolute; top:45px; left:0px; width:calc(100% - 2px); border:1px solid #ddd; border-top:0; background-color:#fff; z-index:11; padding:5px 0}
	#topMenuM02 .menu-location.location1 .location-menu-con{width:calc(100% - 1px)}
	#topMenuM02 .menu-location .location-menu-con li a{display:block; padding:6px 15px; font-size:14px; line-height:1.5; word-break:keep-all;}
	#topMenuM02 .menu-location .location-menu-con li.on{position:relative;}
	#topMenuM02 .menu-location .location-menu-con li.on a{color:#0072bc; font-weight:700;}


	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentInfoCon{margin:0 auto 30px}
	#contentInfoCon .content-tit{font-size:24px}

	/*  SUB LAYOUT :: 컨텐츠 레이아웃 */
	#content:not(.wide){padding:50px 15px}
	#content.wide{padding:50px 0}
}
@media all and ( max-width: 480px ){
	/*  SUB LAYOUT :: 비주얼 */
	#visual{height:250px}
	#visual .visual-tit{font-size:30px}
	#visual .visual-sub-txt{font-size:11px; padding-top:15px}
	#visual .visual-sub-txt:after{bottom:-6px}
}
/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content{width:auto; margin:50px 15px}
	.footer-modal-content h1{font-size:18px; text-align:left; padding:0 30px 15px 0}
	.modal-close-btn{right:-3px; top:-3px;}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
}

/* ****************** 사이트맵 ********************** */
@media all and ( max-width: 1366px ){
	/* -------- 사이트맵 02 -------- */
	/* 사이트맵 02 :: 메뉴 */
	.sitemap-wrapper-style02 > ul > li > h2{margin:80px 20px 20px; font-size:16px;}
	.sitemap-wrapper-style02 > ul > li .sitemap-2dep a{padding:15px 5px 15px 20px; font-size:13px; }
}
@media all and ( max-width: 1024px ){	
	/* -------- 사이트맵 01 -------- */
	.sitemap-wrapper > ul > li > h2{font-size:15px; }
	/* -------- 사이트맵 02 -------- */
	/* 사이트맵 02 :: Layout */
	#sitemapContent,
	#sitemapContent.open{display:none;}
}
@media all and ( max-width: 800px ){
	/* -------- 사이트맵 01 -------- */
	/* 사이트맵 01 */
	.sitemap-wrapper{padding:15px}
	.sitemap-wrapper > ul{display:block;}
	.sitemap-wrapper > ul > li{float:none; display:block; width:auto; margin-bottom:15px;}
	.sitemap-wrapper > ul > li > h2{font-size:16px; margin:0; margin-bottom:5px;}
	.sitemap-wrapper > ul > li .sitemap-2dep{overflow:hidden; margin:0 -1%; padding:0;}
	.sitemap-wrapper > ul > li .sitemap-2dep li{float:left; position:relative; width:31.33%; margin:1%; word-break:keep-all;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:before{position:absolute; top:0px; left:0; bottom:0px; width:1px; background-color:#eee; content:""; display:none;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(3n+1){clear:both;}
	.sitemap-wrapper > ul > li .sitemap-2dep a{padding:7px; font-weight:300; }
}
@media all and ( max-width: 480px ){
	/* -------- 사이트맵 01 -------- */
	/* 사이트맵 01 */
	.sitemap-wrapper > ul > li .sitemap-2dep li{width:48%;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(3n+1){clear:none;}
	.sitemap-wrapper > ul > li .sitemap-2dep li:nth-child(odd){clear:both;}
}