@charset "utf-8";

a[href^="tel:"] {color:red !important}

/*탭메뉴 */
.c-tab01 {position:relative;margin-bottom:20px;line-height:1;padding:0;box-sizing:border-box;text-align:center;top:-35px}
.c-tab01 button {display:none}
.c-tab01 ul {display:inline-block;text-align:center;font-size:0;white-space:nowrap}
.c-tab01 ul li {position:relative;display:inline-block;max-width:250px;vertical-align:top;font-size:17px;padding:0 10px}
.c-tab01 ul li:after {content:"";display:block;position:absolute;top:50%;right:-5px;width:6px;height:6px;background:#ddd;border-radius:50%;z-index:100}
.c-tab01 ul li:last-child:after{display:none}
.c-tab01 ul li a {position:relative;display:block;text-align:center;padding:17px 20px 10px;box-sizing:border-box;color:#959595;background:#fff;font-size:1.176em;font-weight:500;transition:all .3s ease}/*height:60px;*/
.c-tab01 ul li a:after {content:"";display:none;position:absolute;top:-10px;right:0;left:0;margin:0 auto;width:30px;height:30px;background:url(/images/map/arr.png) no-repeat 0 0;z-index:100}
.c-tab01 ul li a span {letter-spacing:-0.05em;display:inline-block}/*max-width:99%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis*/
.c-tab01 ul li.over a,
.c-tab01 ul li a:focus,
.c-tab01 ul li a:hover {color:#222}
.c-tab01 ul li.over a:after,
.c-tab01 ul li a:focus:after,
.c-tab01 ul li a:hover:after {display:block}
.c-tab01.ready {opacity:0}
.c-tab01.expand {padding:0 30px;margin-top:14px}
.c-tab01.expand button {display:block;position:absolute;width:30px;height:30px;top:10px;border:0;background:transparent}
.c-tab01.expand button:after {content:"";display:block;position:absolute;width:11px;height:20px;top:0;right:0;bottom:0;left:0;background:url(/_Template/Layout/layout-kr/_Img/layout_spr.png) no-repeat}
.c-tab01.expand .prev {left:0}
.c-tab01.expand .prev:after {background-position:-166px -64px;margin:auto auto auto 0}
.c-tab01.expand .next {right:0}
.c-tab01.expand .next:after {background-position:-187px -64px;margin:auto 0 auto auto}
.c-tab01.expand ul {display:block;overflow:auto;max-width:100%;padding:0 0 10px}
.c-tab01.expand ul li {padding:0}
.c-tab01.expand ul li a {background:transparent}

.site-eng .c-tab01.expand {}
.site-eng .c-tab01.expand ul li a {padding-top:0;padding-bottom:0;font-size:0;padding-left:5px;padding-right:5px;}
.site-eng .c-tab01.expand ul li a:before {content:"";display:inline-block;width:0;height:46px;vertical-align:middle;}
.site-eng .c-tab01.expand ul li a:after {display:none}
.site-eng .c-tab01.expand ul li a span {display:inline-block;font-size:17px;vertical-align:middle;word-wrap:break-word;word-break:keep-all;white-space:normal}

@media all and (max-width:1199px){
	.c-tab01 ul li {max-width:none}
}
@media all and (max-width:999px){
	.c-tab01 {margin-bottom:0}
	.c-tab01 ul li {text-align:center}
}
@media all and (max-width:800px){
	.c-tab01 ul li a {font-size:17px;padding:17px 10px 10px}
}
@media all and (max-width:699px) {
	.c-tab01 ul li:after {display:none}
}
@media all and (max-width:599px) {
	.site-eng .c-tab01.expand ul li a span {letter-spacing:0}
}
@media all and (max-width:399px) {
	.site-eng .c-tab01.expand ul li a span {font-size:15px}
}

/* 컨텐츠 타이틀*/
.c-tit01 {position:relative;font-size:1.765em;font-weight:600;color:#333;line-height:1.2;margin:0 0 35px 0;letter-spacing:-.05em}
.c-tit01-1 {position:relative;font-size:2.588em;font-family:"poppins", "Noto Sans KR", sans-serif;font-weight:700;color:#000;padding:0 0 0 0;line-height:1;margin:0 0 50px 0;letter-spacing:0}
.c-tit01-1:before {content:"";display:block;width:70px;height:2px;position:absolute;top:50%;right:100%;margin:0 25px 0 0}
.c-tit02 {font-size:1.294em;color:#222;padding:0 0 0 0;font-weight:500;line-height:1.4;margin:0 0 25px 0;letter-spacing:-.05em}
.c-tit02 > span {position:relative;display:inline-block;padding-bottom:10px}
.c-tit02 > span:before {content:"";display:block;position:absolute;left:0;bottom:0;width:100%;height:1px;background:#222}
.c-tit03 {font-size:1.176em;font-weight:normal;color:#333;line-height:1;margin-bottom:20px;letter-spacing:-.05em}
.c-tit04 {font-size:1.059em;font-weight:normal;color:#777;line-height:1;margin-bottom:15px;letter-spacing:-.05em}
@media all and (max-width:1500px){
	.c-tit01-1:before {margin:0 15px 0 0}
}
@media all and (max-width:1400px) {
	.c-tit01-1:before {margin:0 7px 0 0}
}
@media all and (max-width:1200px) {
	.c-tit01-1 {padding:0}
	.c-tit01-1:before {margin:0 5px 0 0;right:100%;left:auto}
}
@media all and (max-width:999px){
	.c-tit01 {margin:0 0 25px 0;font-size:1.471em}
	.c-tit02 {margin:0 0 20px 0}
	.c-tit03 {margin:0 0 15px}
	.c-tit04 {margin:0 0 10px}
}
@media all and (max-width:799px){
	.c-tit01 {margin:0 0 20px 0}
	.c-tit02 {margin:0 0 15px 0}
	.c-tit03 {margin:0 0 10px}
	.c-tit05 {margin:0 0 5px}
	.c-tit01-1 {font-size:2em;margin:0 0 30px 0}
}
@media all and (max-width:599px){
	.c-tit01 {margin:0 0 20px 0}
	.c-tit02 {margin:0 0 15px 0}
	.c-tit03 {margin:0 0 10px}
	.c-tit05 {margin:0 0 5px}
	.c-tit01-1 {font-size:2em;margin:0 0 30px 0}
	.c-tit01-1:before {margin:-2px 5px 0 0}
}
.c-in1 {padding-left:17px}
.c-in2 {padding-left:34px}
.c-in3 {padding-left:51px}

/* 테이블 */
.tbl-type01 {position:relative;border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-top:2px solid #333;font-size:1.000em}
.tbl-type01 th {font-weight:400;color:#333}
.tbl-type01 th,
.tbl-type01 td {padding:15px 10px 16px 10px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;word-wrap:break-word;word-break:keep-all}
.tbl-type01 thead th {background:#fff;padding:20px 10px 22px;border-left:0;border-right:1px solid #d9d9d9;border-bottom:1px solid #292c32;color:#222}
.tbl-type01 tbody th {background:#fafbfd;color:#222}
.tbl-type01 th:first-child,
.tbl-type01 td:first-child {border-left:0}
.tbl-type01 th:last-child,
.tbl-type01 td:last-child {border-right:0}
.tbl-type01 thead th.line-bo {border-bottom:1px solid #999}
.tbl-type01 tbody td {word-break:break-all}
.tbl-type01 .sTxt {display:block;text-align:center;line-height:1.2;font-size:14px;color:#777}
.tbl-type01 tbody td.bg {background-color:#f6eade}
.tbl-type01 tfoot th {background:#fafbfd}
.tbl-type01 .left {padding-left:20px}
.tbl-type01 th.line {border-left:1px solid #ccc}
.tbl-type01 td.line {border-left:1px solid #ccc}
.tbl-type01 .c-list01 > li,
.tbl-type01 .c-list02 > li,
.tbl-type01 .c-list03 > li,
.tbl-type01 .c-list04 > li,
.tbl-type01 .c-list05 > li {font-size:0.944em;margin-left:0}

@media all and (max-width:999px){
	.tbl-type01 thead th {padding:15px 10px 17px}
	.tbl-type01 tbody td {padding:5px 10px 10px;font-size:16px}
}
@media all and (max-width:599px){
	.tbl-type01 thead th {padding:10px 0 10px 5px}
	.tbl-type01 thead th:after {height:20px}
	.tbl-type01 tfoot th,
	.tbl-type01 tfoot td,
	.tbl-type01 tbody th,
	.tbl-type01 tbody td {padding:10px;font-size:14px}
}

/* 테이블 > 테이블 */
.tbl-type01 table {position:relative;border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;border-bottom:1px solid #ddd;font-size:0.938em}
.tbl-type01 table th {font-weight:400;background:#fff}
.tbl-type01 table th,
.tbl-type01 table td {padding:10px 8px;border-left:1px solid #ddd;border-right:1px solid #ddd;word-wrap:break-word;word-break:break-all}
.tbl-type01 table tfoot th,
.tbl-type01 table tfoot td {background:#fff}
.tbl-type01 table td {color:#444}
.tbl-type01 table thead th {background:#f6f6f6;color:#333;border-top:1px solid #ccc}
.tbl-type01 table th:first-child,
.tbl-type01 table td:first-child {border-left:0}
.tbl-type01 table th:last-child,
.tbl-type01 table td:last-child {border-right:0}

/* 작은 테이블 스타일 */
.tbl-type-s01 {position:relative;border-collapse:collapse;border-spacing:0px;table-layout:fixed;width:100%;clear:both;text-align:center;margin-left:-1px;border-top:2px solid #5e7587}
.tbl-type-s01 thead th {background:#f8f9f9;font-size:17px;color:#222;font-weight:500}
.tbl-type-s01 tbody th,
.tbl-type-s01 tfoot th {font-weight:400}
.tbl-type-s01 td,
.tbl-type-s01 tbody td {font-size:17px;color:#666}
.tbl-type-s01 th,
.tbl-type-s01 td {padding:16px 5px 17px;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;word-wrap:break-word;word-break:break-all}
.tbl-type-s01 tbody tr:last-child th,
.tbl-type-s01 tbody tr:last-child td {border-bottom:0}
.tbl-type-s01 tfoot th {background:#fff;border-top:1px solid #ccc}
.tbl-type-s01 tfoot td {background:#fff;font-weight:normal;border-top:1px solid #ccc}
.tbl-type-s01 thead tr:last-child th {border-bottom:1px solid #999}
.tbl-type-s01 th:first-child,
.tbl-type-s01 td:first-child {border-left:0}
.tbl-type-s01 th:last-child,
.tbl-type-s01 td:last-child {border-right:0}
.tbl-type-s01 .borb0 {border-bottom:0}

@media all and (max-width:999px){
	.tbl-type-s01 th,
	.tbl-type-s01 td {padding:12px 5px 14px;font-size:16px}
}
@media all and (max-width:599px){
	.tbl-type-s01 th,
	.tbl-type-s01 td {padding:10px 5px 12px;font-size:14px}
}

/* 프로그램 버튼 */
.bw-btn,
.bg-btn,
.bp-btn,
.bdp-btn {position:relative;display:inline-block;font-size:1em;vertical-align:middle;line-height:1.1;box-sizing:border-box;text-align:center;letter-spacing:-.05em;min-width:230px;font-weight:400;transition:all .3s ease}
.bw-btn,
a.bw-btn {background:#fff;border:1px solid #d5d5d5;color:#333}
.bw-btn:hover,
.bw-btn:focus {background:#eee;border:1px solid #ddd;color:#333}
.bg-btn,
a.bg-btn {background:#5e7587;border:1px solid #5e7587;color:#fff}
.bg-btn:hover,
.bg-btn:focus {background:#333;border:1px solid #333}
.bp-btn,
a.bp-btn {background:#5e7587;border:2px solid #5e7587;color:#fff}
.bp-btn:hover,
.bp-btn:focus {background:#333;border:2px solid #333}
.bdp-btn,
a.bdp-btn {background:#656b7e;color:#fff;border:2px solid #656b7e}
.bdp-btn:hover,
.bdp-btn:focus {background:#292c32;border:2px solid #292c32;box-shadow:0 10px 10px rgba(0, 0, 0, .35)}
a.bw-btn span,
a.bg-btn span {display:block;padding:20px 20px 21px;line-height:1}
a.bw-btn span,
a.bg-btn span,
a.bp-btn span,
a.bdp-btn span {display:block;padding:20px 20px 21px;line-height:1}
input.bw-btn,
button.bw-btn,
input.bg-btn,
button.bg-btn,
input.bp-btn,
button.bp-btn,
input.bdp-btn,
button.bdp-btn {position:relative;padding:0 20px 0 20px;height:60px;text-align:center;cursor:pointer;vertical-align:top}
/*리스트 스타일 (float:left 속성을 줄경우에는 ie6등에서 배경 이미지가 나오지 않을수 있으므로 width값 설정이 필요합니다.) */
.c-list01 > li,
.c-list02 > li,
.c-list03 > li,
.c-list04 > li,
.c-list05 > li {position:relative;line-height:1.5;padding:5px 0 5px 12px;color:#555;font-size:1.000em}
.c-list01 li .tit:after,
.c-list01-li .tit:after {content:":";display:inline-block;vertical-align:bottom;color:#000;margin:0 5px}
.c-list01 li:before,
.c-list01-li:before,
.c-list02 li:before,
.c-list02-li:before {position:absolute;top:15px;left:0;content:"";display:block;width:4px;height:4px;background:#5e7587;border-radius:50%}
.c-list01,
.c-list02,
.c-list03,
.c-list04,
.c-list05 {text-align:left}
.c-list01 > li ul,
.c-list02 > li ul,
.c-list03 > li ul,
.c-list04 > li ul,
.c-list05 > li ul {margin:7px 0 10px}
.c-list01 > li ul li,
.c-list02 > li ul li,
.c-list03 > li ul li,
.c-list04 > li ul li,
.c-list05 > li ul li {padding:2px 0 2px 13px;margin-left:0;position:relative;font-size:0.941em;color:#555;line-height:1.3;font-weight:400}
.c-list01 > li ul li:before,
.c-list02 > li ul li:before,
.c-list03 > li ul li:before,
.c-list04 > li ul li:before,
.c-list05 > li ul li:before {content:"";display:block;width:5px;height:2px;background:#ccc;position:absolute;top:11px;left:3px}
.c-list01 li .tit,
.c-list01-li .tit,
.c-list02 li .tit,
.c-list02-li .tit {color:#000}

.c-list02 > li,
.c-list02-li {}
.c-list02 > li .tit {vertical-align:top;position:relative;padding:0 17px 0 0;margin:0 6px 0 0;min-width: 50px;display:inline-block}
.c-list02 > li .txt {display:inline-block;padding:0 0}
.c-list03 > li,
.c-list03-li {position:relative;padding:3px 0 3px 33px}
.c-list03 > li .blt {color:#5e7587;position:absolute;top:3px;left:0;font-weight:500;width:25px;text-align:center}
.c-list03 > li .blt:after,
.c-list03-li .blt:after {display:inline-block;content:"."}
.c-list03 > li .tit,
.c-list03-li .tit {display:block;font-weight:500;color:#222}
.c-list03 > li .tit-in {display:inline-block;font-weight:500;color:#222;vertical-align:top}
.c-list03 > li .txt {display:inline-block;vertical-align:top;width:85%}

.c-list04 > li,
.c-list04-li {position:relative;padding:0px 0 0px 32px;margin-top:7px}
.c-list04 > li:first-child {margin-top:0}
.c-list04 > li .blt,
.c-list04-li .blt {display:block;width:22px;height:22px;line-height:22px;background:#5e7587;border-radius:50%;text-align:center;font-family:"Poppins";color:#fff;font-size:0.706em;position:absolute;top:2px;left:0}
.c-list04 > li .tit,
.c-list04-li .tit {display:block;font-weight:500;color:#222}
.c-list04 > li .tit-in {display:inline-block;font-weight:500;color:#222}
.c-list04 > li .tit-in:after {content:":";display:inline-block;margin:0 5px}

.c-list05 > li,
.c-list05-li {position:relative;padding:0px 0 0px 32px;margin-top:7px}
.c-list05 > li:first-child {margin-top:0}
.c-list05 > li .blt,
.c-list05-li .blt {display:block;width:20px;height:20px;line-height:20px;background:#f1f1f1;border:1px solid #dedede;border-radius:50%;text-align:center;font-family:"Poppins";color:#000;font-size:0.706em;position:absolute;top:2px;left:0}
.c-list05 > li .tit,
.c-list05-li .tit {display:block;font-weight:500;color:#222}
.c-list05 > li .tit-in {display:inline-block;font-weight:500;color:#222}
.c-list05 > li .tit-in:after {content:":";display:inline-block;margin:0 5px}

@media all and (max-width:999px) {
	.c-list01 > li ul li,
	.c-list02 > li ul li,
	.c-list03 > li ul li,
	.c-list04 > li ul li,
	.c-list05 > li ul li  {font-size:15px}
}
@media all and (max-width:599px){
	.c-list01 > li:before, .c-list01-li:before {top:13px}
	.c-list02 > li {padding-left:0;/* margin-bottom:10px */}
	.c-list02 > li .tit {position:relative;top:auto;left:auto;bottom:auto;right:auto;padding-left:11px}
	.c-list02 > li .tit:after {display:none}
	.c-list02 > li ul {margin-top:0;margin-left:0}
	.c-list02 > li ul li {padding:0 0 0 14px}
	.c-list02 > li:before,
	.c-list02-li:before {top:17px}
	.c-list01 > li ul li:before,
	.c-list02 > li ul li:before,
	.c-list03 > li ul li:before,
	.c-list04 > li ul li:before,
	.c-list05 > li ul li:before {top:8px}
	.c-list01 > li ul li,
	.c-list02 > li ul li,
	.c-list03 > li ul li,
	.c-list04 > li ul li,
	.c-list04-1 > li ul li,
	.c-list05 > li ul li  {font-size:14px}
	.c-list03 > li .tit-in {display:block}
	.c-list03 > li .txt {width:auto}
}